<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/style.css" />
    <title>PickupTaSoeur</title>
  </head>
  <body>
    <%- include('../layouts/header') %>
    <main class="text-gray-400 bg-gray-900 body-font">
      <div class="flex flex-col items-center justify-center">
        <% if(user == null){ %>
        <h1 class="text-2xl">not login</h1>
        <% } else{ %> <img src="<%= user.avatar.large %>" />
        <h1 class="text-2xl">Salut <%=user.username%></h1>
        <h1 class="text-2xl">T'on steam id est <%=user.steamid%></h1>
        <% } %>
        <h1><%=kd%></h1>
      </div>
    </main>
    <%- include('../layouts/footer') %>
  </body>
</html>
